@import "../mixins/grid.scss";

@media screen and (min-width: 33em) {
  h1 {
    font-size: var(--h1-font-size_tablet);
  }

  .main {
    max-width: 49.6rem;
    margin: auto;

    .section--tiles {
      @include grid(1fr 1fr, 1.6rem, 1.6rem, center);
      align-items: stretch;
    }
    .section--tile {
      justify-content: flex-start;
      padding: 3rem 2rem;
    }
  }
}

@media screen and (min-width: 74em) {
  .main {
    max-width: 120rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
    .section--header {
      max-width: 46.7rem;
    }
    .section--tiles {
      max-width: 55.6rem;
      row-gap: 2.8rem;
      column-gap: 2.2rem;
    }
    .section--tile {
      width: 26.8rem;
      height: 24rem;
      padding: 3.2rem 1.6rem;

      #computer-vision {
        @include icons(var(--border-radius-mobile), #6c7cff, 6.4rem, 6.4rem);
      }
      #machine-learning {
        @include icons(var(--border-radius-mobile), #ca59ff, 6.4rem, 6.4rem);
      }
      #natural-language {
        @include icons(var(--border-radius-mobile), #2affff, 6.4rem, 6.4rem);
      }
      #robotics {
        @include icons(var(--border-radius-mobile), #fff629, 6.4rem, 6.4rem);
      }
      svg {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }
}
