@import "../mixins/grid.scss";

@media screen and (min-width: 37em) {
  h1 {
    font-size: var(--h1-font-size_tablet);
    letter-spacing: -0.2%;
  }
  // h2 {
  //   font-size: 2rem;
  // }

  .main {
    max-width: 49rem;
    margin: 3rem auto;

    .section--tiles {
      @include grid(1fr 1fr, 1rem, 1rem, center);
      align-items: stretch;
    }
    .section--tile {
      justify-content: flex-start;
      padding: 3rem 2rem;
      gap: 1.6rem;
    }
  }
}

@media screen and (min-width: 74em) {
  .main {
    max-width: 120rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
    .section--header {
      max-width: 46.7rem;
    }
    .section--tiles {
      max-width: 55.6rem;
      row-gap: 2.8rem;
      column-gap: 2.2rem;
    }
  }
}
