/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary-darkgray: #0f162d;
  --color-primary-pink: #ca59ff;
  --color-primary-lightgray: #6c7cff;
  --color-primary-green: #2affff;
  --color-primary-yellow: #fff629;

  --color-secondary-white: #ffffff;
  --color-secondary-gray: #272d42;
  --color-secondary-black: #000000;
  --border-radius-mobile: 1.6rem;
}
