/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "../global-styles/classes/classes.scss";

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--color-primary-darkgray);
  color: var(--color-secondary-white);
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 400;
}

p {
  color: var(--color-on-surface);
  font-weight: 400;
}
