/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/classes/classes.scss";
@import "styles/identificators/identificators.scss";

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--color-primary-darkgray);
  color: var(--color-secondary-white);
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}
h2 {
  padding-bottom: 0.1rem;
}

p {
  color: var(--color-on-surface);
  font-weight: 400;
  line-height: 1.4;
}

@import "styles/media.scss";
