@import "../../mixins/flex.scss";

.main {
  @include flex(column, center, center, 1rem);
  max-height: 100%;
  height: 100vh;
  margin: 1rem;
}

.section {
  @include flex(column, center, center, 1rem);
}

.section--header {
  @extend .section;
}

.section--tiles {
  @extend .section;
}

.section--tile {
  @include flex(column, center, center, 10px);
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--color-secondary-gray);
  border-radius: var(--border-radius-mobile);
  p {
    color: var(--color-primary-lightgray);
    opacity: 0.6;
  }
}
